flask
flask-cors
flask-limiter
ragie
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
gunicorn
google-cloud-aiplatform
google-cloud-logging
python-dotenv


